@font-face
{
	font-family: "Molot";
	src: url("./fonts/Molot.otf");
}

::-webkit-scrollbar-thumb {
    background-color: #f9ac64;
    border-radius: 3px;
}
::-webkit-scrollbar {
    width: 10px; /* ширина для вертикального скролла */
    height: 10px; /* высота для горизонтального скролла */
    background-color: auto;
}

body
{
	overflow-x:hidden;
}

span, #new_tournament
{
	color: #808c6d;
	font-family: "Molot";
}

#new_tournament
{
	width: 250px;
	border: 3px solid;
	border-color: #f9ac64;
	border-radius: 5px;
	margin-bottom: 20px;
}

#input_name_tournament
{
	width: 250px;
	border: 3px solid;
	border-color: #f9ac64;
	border-radius: 5px;
	margin-bottom: 10px;

}



#scrollbar
{
	height: 448px;
	overflow: auto;
}
.row
{
	height: auto;
}
.body
{
	height: 100%;
}

.max-width, .row, 
{
	border: 1px solid;
}

#close_panel
{
	color: #f9ac64;
	font-family: "Molot";
	font-size: 30px;
}

#button_close_panel
{
	border-top: 2px solid;
	border-bottom: 1px solid;
	border-left: 2px solid;
	border-color: #808c6d;
}

#scrollbar
{
	border-left: 2px solid;
	border-color: #808c6d;
	height: 74.2vh;
	
}



#col_input_name
{
	border-left: 2px solid;
	border-color: #808c6d;
}

#button_new_tournament
{
	border-left: 2px solid;
	border-color: #808c6d;
}

#history_tournament
{
	border-bottom: 2px solid;
	border-top: 2px solid;
	border-left: 2px solid;
	border-color: #808c6d;

}

#text_close_panel
{
	border-bottom: 1px solid;
	border-top: 2px solid;
	border-left: 2px solid;
	border-color: #808c6d;
	position: relative;


}

#switch_panel
{
	position: absolute;
	top: 10px;
}

#name_tr
{
	font-size: 20px;
}

#right-panel, #left-panel
{
	height: 80vh;
}

#image_row
{
	border-left: 2px solid;
	border-top: 1px solid;
	border-color: #808c6d;

}